.navbar {
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.card-body:hover {
  background: #ffd95b;
  transition: all 0.4s ease-out;
}

.input-group .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  cursor: pointer;
}

.header {
  background-color: whitesmoke;
}

.section-menu h1 {
  font-size: 22px;
  font-weight: normal;
  margin-top: 56px;
}

.section-menu .card-body {
  padding-left: 0px;
}

.section-menu .card-text {
  font-weight: normal;
  font-size: 16px;
  color: #1d1d1d;
}

.section-menu .lead {
  color: #626262;
  font-size: 14px;
}

.section-menu p {
  font-size: 13px;
}

footer {
  background-color: #262626;
  height: auto;
}

.footer .navbar-brand {
  margin-top: 56px;
}

.line {
  background-color: #fff;
  height: 1px;
  margin-top: 116px;
  margin-bottom: 33px;
}

.footer__menu {
  position: relative;
}

.footer .custom-select {
  width: 227px;

  background-color: #3B3B3B;
  color: white;
  font-size: 13px;
  outline: none;
  border: none;
  height: 40px;
  padding-left: 48px;


}

.footer__menu::after {
  content: url(/assets/img/icons/arrow.svg);
  position: absolute;
  right: 10px;
  top: 8px;
  color: white;


}

.footer__menu::before {
  content: url(/assets/img/icons/Shape.svg);
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
}
.footer-container__logo{
  margin-top: 33px;

}

.footer-container__logo .logo-r{
  color: #49A144;
  font-size: 16px;
}
.line-second{
  height: 1px;
  background-color: #fff;
  margin-top: 87px;
}